---

---
<section class="min-h-screen flex justify-center items-center text-center bg-white">
    <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:py-24 lg:py-32 lg:px-8 lg:text-center">
        <h1 class="text-5xl font-extrabold tracking-tight sm:text-5xl lg:text-6xl text-fake-black">
            Talent Hub Collaboration et créativité
        </h1>
        <p class="mt-4 sm:mt-6 lg:mx-auto lg:max-w-2xl text-lg font-normal text-gray-500 dark:text-gray-400">
            Réunissant passionnés d'art, de développement, de musique et bien plus encore
        </p>
        <div class="mt-6 sm:mt-8 lg:mt-10">
            <a href="//discord.talent-hub.fr" target="_blank" class="px-8 py-3 font-semibold rounded border border-[#E05880] text-[#E05880] bg-white hover:bg-[#E05880] hover:text-white transition duration-300">                Rejoindre l'aventure ->
            </a>
        </div>
    </div>
</section>