---
import Layout from '../layouts/Layout.astro';
import Hero from "../components/sections/Hero.astro";
---

<Layout title="Welcome to Astro.">
    <main class="flex items-center gap-y-8">
        <Hero />
    </main>
</Layout>
