---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Artistic Hub",
    description:
      "A dedicated space for visual creators and art enthusiasts. Here, you will find artists from various backgrounds, such as painting, drawing, photography, sculpture, and more.",
    icon: "mdi:brush",
  },
  {
    title: "Development Hub",
    description:
      "A haven for programmers, developers, and technology enthusiasts. Members of this hub share a passion for coding, software development, web design, and related fields.",
    icon: "mdi:laptop-chromebook",
  },
  {
    title: "Music Hub",
    description:
      "In this hub, you will find individuals with diverse musical interests and talents, ranging from playing instruments to composing and producing original music.",
    icon: "mdi:music-note",
  },
  {
    title: "Investment Hub",
    description:
      "Designed for financial enthusiasts, investors, and entrepreneurs.",
    icon: "mdi:hand-coin",
  },
  {
    title: "Imaginary Hub",
    description:
      "Creative space for storytellers, game designers, screenwriters, and narrative enthusiasts. Members of this hub are passionate about crafting compelling stories, designing immersive game experiences.",
    icon: "mdi:book-open-page-variant",
  },
];
---

<ContentSection title="The different hubs" id="features">
  <Fragment slot="lead">
    Talent Hub comes with <span class="text-primary">specialized hubs</span>. It allows
    to improve the <span class="text-primary">talent acquisition</span> process and
    <span class="text-primary">increase</span> the <span class="text-primary">quality</span> of
    the <span class="text-primary">hiring</span> process.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
