---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Pôle Art",
    description:
        "Un espace dédié aux créateurs visuels et aux passionnés d'art. Vous y trouverez des artistes de divers horizons, tels que la peinture, le dessin, la photographie, la sculpture et plus encore.",
    icon: "mdi:brush",
  },
  {
    title: "Pôle Développement",
    description:
        "Un havre pour les programmeurs, les développeurs et les passionnés de technologie. Les membres de ce pôle partagent une passion pour la programmation, le développement de logiciels, le design web et les domaines connexes.",
    icon: "mdi:laptop-chromebook",
  },
  {
    title: "Pôle Son",
    description:
        "Dans ce pôle, vous trouverez des individus aux intérêts et talents musicaux divers, allant de la pratique d'instruments à la composition et à la production de musique originale.",
    icon: "mdi:music-note",
  },
  {
    title: "Pôle Investissement",
    description:
        "Conçu pour les passionnés de finance, les investisseurs et les entrepreneurs.",
    icon: "mdi:hand-coin",
  },
  {
    title: "Pôle Écrit",
    description:
        "Espace créatif pour les conteurs, les concepteurs de jeux, les scénaristes et les passionnés de narration. Les membres de ce pôle sont passionnés par la création d'histoires captivantes et la conception d'expériences de jeu immersives.",
    icon: "mdi:book-open-page-variant",
  },
];
---

<ContentSection title="Les différents pôles" id="features">
  <Fragment slot="lead">
    Talent Hub propose des <span class="text-primary">pôles spécialisés</span>. Cela permet
    d'améliorer le processus d'<span class="text-primary">acquisition de talents</span> et
    d'<span class="text-primary">augmenter</span> la <span class="text-primary">qualité</span> de
    la <span class="text-primary">procédure de recrutement</span>.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
          <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
            <div class="h-16 w-16 rounded-full border-2 border-current p-3">
              <Icon name={icon} />
            </div>
            <p class="text-center font-extrabold text-xl">{title}</p>
            <p class="text-center text-offset text-sm">{description}</p>
          </li>
      ))
    }
  </ul>
</ContentSection>
