---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="What is Talent Hub ?" id="intro">
  <Icon slot="eyebrow" name="logomark" class="h-32" />
  <Fragment slot="lead">
    Discover Talent Hub, the ultimate collaborative platform that brings 
    <span class="text-primary">creative and innovative</span> minds.
  </Fragment>
  <div>
    <a
      href="http://discord.talent-hub.fr"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="rocket" class="h-8" />
      <span>Start your journey</span>
    </a>
  </div>
</ContentSection>
