---
import ContentSection from "~/components/content-section.astro";

interface SupporterProps {
    logo: string;
    link: string;
    name: string;
}

const supporters: SupporterProps[] = [
    {
        logo: "ltdd.png",
        link: "https://latavernedudesign.fr/",
        name: "La taverne du design",
    }
];
---
<ContentSection title="They support us" class="supporters">
    {supporters.map((supporter) => (
            <a href={supporter.link} target="_blank" rel="noopener noreferrer" class="opacity-75 hover:opacity-100 transition-opacity duration-300 ease-in-out h-32 w-32">
                <img src={supporter.logo} alt={supporter.name} />
            </a>
    ))}
</ContentSection>
